.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.service-card {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    transform: scaleX(1.05) scaleY(1.05);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

    .icon-background {
      background: lighten($red, 30);
      color: white;
    }
  }
}
