.dropdown-item {
  height: 3rem;
  line-height: 3rem;
  transition: all 0.3s ease-out 0s;
  border-bottom: 1px solid $gray-200;
  border-left: 5px solid transparent;

  &:hover {
    background: $gray-100;
    padding-left: 1.5rem;
    border-left-color: lighten($black, 60);
    color: darken($red, 15);
    &:before {
      width: 3px;
    }
  }
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  .offcanvas-backdrop {
    background: $gray-900;

    &.show {
      opacity: 0.8;
    }
  }
  .offcanvas {
    // max-width: 85vw;
    width: 21rem !important;

    &-header,
    &-footer {
      padding: 1.125rem 1.5rem;
    }

    &-body {
      padding: 0rem;
    }
  }

  .nav-link {
    padding: 1.25rem 2rem;
    border-bottom: 1px solid rgba($black, 0.1);
  }

  .dropdown-menu.show {
    position: relative;
    border: none;
  }

  .dropdown-item {
    padding-left: 3rem;
  }
}
