.header-block {
  span {
    display: inline-block;
    height: 4px;
    border-radius: 2px;
    background-color: $red;
    margin-right: 3px;
  }

  &__1 {
    width: 2.5rem;
  }
  &__2 {
    width: 1.25rem;
  }
  &__3 {
    width: 0.7rem;
  }
  &__4 {
    width: 0;
  }

  &.small {
    span {
      height: 3px;

      &.header-block__1 {
        width: 0;
      }

      &.header-block__4 {
        width: 0.3rem;
      }
    }
  }
}

.text-lg {
  font-size: 1.12rem;
  line-height: 2rem;
}

.text-color,
.text-gray {
  color: $text-color !important;
}

.optional-form-field {
  font-size: 0.75rem;
  padding-top: 0.25rem;
  color: $text-muted;
  display: inline-block;
  margin-top: -2px;
}

.confirmation-text {
  font-size: 1.2rem;
  color: $gray-600;
  font-weight: normal;
  margin-bottom: 2rem !important;
}

td {
  &.text-block {
    font-weight: bold;
    color: $dark;
    span {
      display: block;
      font-size: 0.75rem;
      font-weight: normal;
      margin-top: -5px;
    }
  }
}
