// Background
$light-red: rgba(237, 50, 55, 0.1);

.bg-light-red {
  background: $light-red;
}

.z-n1 {
  z-index: -1;
}

.z-n2 {
  z-index: -2;
}

.carousel-control-prev,
.carousel-control-next {
  height: 5rem;
  width: 2.5rem;
  background: lighten($dark, 15);
  top: 50%;
  transform: perspective(1px) translateY(-50%);

  &-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.img-block__text {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: -0.5rem;

  @include media-breakpoint-up(md) {
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin-left: -5%;
    width: 38%;
    margin-top: 0;
  }
}

.img-block__text.alt {
  @include media-breakpoint-up(md) {
    left: 5rem;
  }
}

.card-client {
  transition: all ease-out 0.3s;
  img {
    transition: all ease-out 0.3s;
  }
  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(19 16 34 / 6%),
      0 0.125rem 0.4rem -0.0625rem rgb(19 16 34 / 3%);

    img {
      transform: scale(1.5);
    }
  }
}

.icon-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-lg svg {
  height: 4rem;
  width: 4rem;
}

.lift {
  transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;

  &:hover {
    box-shadow: 0 0.8125rem 1rem rgba(35, 35, 35, 0.15) !important;
    -webkit-transform: translate3d(0, -6px, 0) !important;
    transform: translate3d(0, -6px, 0) !important;
  }
}

.shadow {
  box-shadow: 0 0.625rem 1rem rgba(35, 35, 35, 0.1) !important;
}

.header-404 {
  font-size: 12rem;
}
