.bg-light-red {
  background: $light-red;
}

.text-light-red {
  color: lighten($primary, 40);
}

.z-n1 {
  z-index: -1;
}

.z-n2 {
  z-index: -2;
}

.carousel-control-prev,
.carousel-control-next {
  height: 3rem;
  width: 1.5rem;
  @include media-breakpoint-up(sm) {
    height: 5rem;
    width: 2.5rem;
  }
  background: lighten($dark, 20);
  top: 50%;
  transform: perspective(1px) translateY(-50%);

  &-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.img-block__text {
  background: var(--#{$prefix}body-bg);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: -0.5rem;

  @include media-breakpoint-up(lg) {
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin-left: -5%;
    width: 38%;
    margin-top: 0;
  }
}

.img-block__text.alt {
  @include media-breakpoint-up(lg) {
    left: 5rem;
  }
}

.card-client {
  transition: all ease-out 0.3s;
  img {
    transition: all ease-out 0.3s;
  }
  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(19 16 34 / 6%),
      0 0.125rem 0.4rem -0.0625rem rgb(19 16 34 / 3%);
  }
}

.icon-md svg,
.img-md {
  height: 1.5rem !important;
  width: 1.5rem !important;
  object-fit: cover;
  object-position: top;
}

.icon-md2 svg,
.img-md2 {
  height: 2.5rem !important;
  width: 2.5rem !important;
  object-fit: cover;
  object-position: top;
}

.icon-lg svg,
.img-lg {
  height: 4rem !important;
  width: 4rem !important;
  object-fit: cover;
  object-position: top;
}
.icon-xl svg,
.img-xl {
  height: 8rem !important;
  width: 8rem !important;
  object-fit: cover;
  object-position: top;
}
.icon-xxl svg,
.img-xxl {
  height: 12rem !important;
  width: 12rem !important;
  object-fit: cover;
  object-position: top;
  @include media-breakpoint-up(lg) {
    height: 16rem !important;
    width: 16rem !important;
    object-fit: cover;
  }
}

.lift {
  transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;

  &:hover {
    box-shadow: 0 0.8125rem 1rem rgba(35, 35, 35, 0.15) !important;
    -webkit-transform: translate3d(0, -6px, 0) !important;
    transform: translate3d(0, -6px, 0) !important;
  }
}

.shadow {
  box-shadow: 0 0.625rem 1rem rgba(35, 35, 35, 0.1) !important;
}

.header-404 {
  font-size: 12rem;
}

.img-cover {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.project-img {
  object-fit: cover;
}

.google-map {
  height: 32rem;
  filter: saturate(0);
  overflow: hidden;
  background: #f2f2f2;
  transition: all 1s ease-out;

  &:hover {
    filter: none;
  }
}

.form-wrapper {
  margin-top: -5rem;
  padding: 1rem 4rem 3rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  margin-top: -107px;
  background: var(--#{$prefix}body-bg);
  border-radius: 5px;
}

.contact-info .icon-circled {
  font-size: 1.2rem;
  color: white;
  background: $secondary;
  height: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.react-datepicker__navigation-icon {
  margin-top: 20px;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  margin-left: -5px;
}

.form-switch {
  .form-check-input {
    height: 1.75rem;
  }
  .form-check-label {
    margin-top: 0.2rem;
  }
}

.table {
  font-size: 0.85rem;
  margin-bottom: 0;
  > :not(:first-child) {
    border-top: 1px solid #f5f9fa;
  }
  thead tr {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #f5f9fa;

    th {
      padding: 1rem 1.25rem;
      vertical-align: middle;
    }
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #e5e5e5 !important;
  }

  td {
    vertical-align: middle;
  }

  td:first-child,
  th:first-child {
    padding-left: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding-left: 2rem;
    }
  }

  td:last-child,
  th:last-child {
    padding-right: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding-right: 2rem;
    }
  }

  &.table-no-padding {
    td:first-child,
    th:first-child {
      padding-left: 0.5rem;
    }

    td:last-child,
    th:last-child {
      padding-right: 0.5rem;
    }
  }
}

// https://stackoverflow.com/questions/72093603/how-to-make-table-fit-in-mobile-view
.table-responsive {
  min-height: 0.01%;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;

    > .table {
      margin-bottom: 0;
    }

    > .table > thead > tr > th,
    > .table > tbody > tr > th,
    > .table > tfoot > tr > th,
    > .table > thead > tr > td,
    > .table > tbody > tr > td,
    > .table > tfoot > tr > td {
      white-space: nowrap;
    }
  }
}

footer a {
  color: #fff;
  text-decoration: none;
  line-height: 2;

  &:hover {
    text-decoration: underline;
  }
}

// https://www.benmarshall.me/styling-file-inputs/
.custom-file-upload {
  [type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type='file'] + label {
    border: 2px solid $gray-600;
    border-radius: 5px;
    color: $gray-600;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0.2rem;
    outline: none;
    padding: 0.5rem 2.5rem;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
      background-color: darken($gray-600, 15%);
      color: $white;
    }
  }
}

.badge-dot,
.badge-icon {
  display: inline-flex;
  align-items: center;
  background-color: transparent !important;
  border: none;
  padding-left: 0.75rem;
  padding-right: 0;
  font-size: 0.75rem;
  position: relative;

  &.badge-sm,
  &.badge-md {
    padding-left: 1rem;
  }
  &.badge-sm:before,
  &.badge-md:before {
    height: 8px;
    width: 8px;
    margin-top: 0;
  }
  &.badge-lg,
  &.badge-xl {
    padding-left: 1.5rem;
  }
  &.badge-lg:before,
  &.badge-xl:before {
    height: 12px;
    width: 12px;
    margin-top: 0;
  }

  &.bg-primary {
    color: $primary;
  }

  &.bg-secondary {
    color: $secondary;
  }

  &.bg-success {
    color: $success;
  }

  &.bg-info {
    color: $info;
  }

  &.bg-warning {
    color: $warning;
  }

  &.bg-danger {
    color: $danger;
  }

  &.bg-light {
    color: $light;
  }

  &.bg-dark {
    color: $dark;
  }
}

.badge-dot {
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 6px;
    width: 6px;
    margin-top: 0;
    border-radius: 50%;
    background: currentColor;
  }
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #00acee;
}

.bg-instagram {
  background-color: #e1306c;
}

.bg-linkedin {
  background-color: #0077b5;
}

.facebook-color {
  color: #3b5998;
}

.twitter-color {
  color: #00acee;
}

.instagram-color {
  color: #e1306c;
}

.linkedin-color {
  color: #0077b5;
}

.modal-title {
  font-size: 1.15rem;
  font-weight: normal;
}

.Toastify__toast--success {
  background-color: $success !important;
}

.Toastify__toast--error {
  background-color: $danger !important;
}

.Toastify__toast--info {
  background-color: $info !important;
}

.Toastify__toast--warning {
  background-color: $warning !important;
}

.updating-spinner {
  position: absolute;
  right: 0;
  top: 0;
}

.filter-close-icon {
  font-size: 1.25rem;
  color: $secondary;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}

.bg-primary-light {
  background: rgba($primary, 20%);
}

.bg-info-light {
  background: rgba($info, 10%);
}

.bg-success-light {
  background: rgba($success, 10%);
}

.bg-warning-light {
  background: rgba($warning, 10%);
}

.text-primary-light {
  color: rgba($primary, 25%);
}

.text-info-light {
  color: rgba($info, 25%);
}

.text-success-light {
  color: rgba($success, 25%);
}

.text-warning-light {
  color: rgba($warning, 25%);
}

.widget a {
  transition: all 0.5s;

  .subtitle {
    color: var(--#{$prefix}secondary-color);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-weight: bold;
  }

  &:hover {
    .subtitle {
      color: #333 !important;
    }

    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    .bg-primary-light {
      background: rgba($primary, 20%);
    }

    .bg-info-light {
      background: rgba($info, 20%);
    }

    .bg-success-light {
      background: rgba($success, 20%);
    }

    .bg-warning-light {
      background: rgba($warning, 20%);
    }

    .text-primary {
      color: darken($primary, 10%) !important;
    }

    .text-info {
      color: darken($info, 10%) !important;
    }

    .text-success {
      color: darken($success, 10%) !important;
    }

    .text-warning {
      color: darken($warning, 10%) !important;
    }

    .text-primary-light {
      color: rgba($primary, 35%);
    }

    .text-info-light {
      color: rgba($info, 35%);
    }

    .text-success-light {
      color: rgba($success, 35%);
    }

    .text-warning-light {
      color: rgba($warning, 35%);
    }
  }
}

.team-image {
  height: 18rem;
  max-height: 18rem;
  object-fit: cover;
  background: #f5f5f5;
}

.list-pending-docs {
  li {
    padding-bottom: 1rem;
    color: $secondary;

    & > strong {
      color: $dark;
      display: block;
    }
  }
}

.auth-fluid {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

.auth-fluid .auth-fluid-form-box {
  max-width: 480px;
  border-radius: 0;
  z-index: 2;
  padding: 3rem 2rem;
  background-color: var(--ct-auth-bg);
  position: relative;
  width: 100%;
}

.auth-fluid .auth-fluid-right {
  padding: 6rem 3rem;
  flex: 1;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background: url(../public/assets/img/bg/bg-blissville.jpg) center;
  background-size: cover;
}

.img-wrapper {
  font-size: 0;

  img {
    object-fit: cover !important;
  }
}

.circle-background {
  position: absolute;
  height: 55rem;
  width: 55rem;
  max-height: 125vw;
  max-width: 125vw;
  background-color: #fafafa;
  border-radius: 50%;
  display: inline-block;
  left: -12rem;
  top: -5rem;
  z-index: -1;
}

.alert-attention {
  padding: 1rem;
  margin: 1.5rem 0;
  border-left: 5px solid transparent;
  color: $gray-600;

  &.danger {
    border-left-color: $danger;
    strong {
      color: $danger;
    }
  }

  &.warning {
    border-left-color: $warning;
    strong {
      color: $warning;
    }
  }

  &.success {
    border-left-color: $success;
    strong {
      color: $success;
    }
  }

  &.info {
    border-left-color: $info;
    strong {
      color: $info;
    }
  }
}
